body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

header{
    background-color: rgb(80, 178, 216);  
    color: #FFF;
    padding: 10px;
}

.container-projetc{
    justify-content: center;
    display: flex;
    gap: 2em;
}

.cont-box{
    background-color: rgb(89, 177, 165);
    color: #FFF;
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: solid 3px rgb(89, 177, 165);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.cont-box:hover{
    background-color: transparent;
    color: #000;

}

span{
    font-size: larger;
}

#link{
    justify-self: end;
    margin-top: auto;
}

/*   ICONE C0NTATOS   */
.icon {
    position: relative;
    display: inline-block;
}

.icon .tooltip {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posiciona a tooltip acima do ícone */
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
}

.icon .tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* Abaixo da tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}











/*  Projetos Front-end */
.cont-project-front-end{
    padding: 10px;
    display: flex;
    gap: 2em;
    background-color: rgb(127, 228, 231);
    border-radius: 20px;
}
.section-box{
    display: flex;
    gap: 2em;
    width: 100%;
}

.section-box div span {
    color: rgb(138, 37, 233);
}

.box-project h3{
    color: rgb(15, 28, 145);
}

#btn-zap{
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

footer{
    background-color: rgb(80, 178, 216);
    color: #FFF;
    padding: 20px;
}


/* icon  */
.icon i{
    font-size: 22pt;
    color: rgb(15, 28, 145);
}

i:hover {
    color: #FFF;
}

/*  resposividade do site  */
@media (max-width: 768px){

    .container-projetc{
        flex-direction: column;
    }

    .cont-box{
        max-width: 100%;
    }

    .section-box{
        flex-direction: column;
    }

    .section-box div{
        width: 100%;
    }

    #btn-zap{
        width: 100%;
    }
}