.container .card {
    width: 60%;
}
.card img {
    background-color: rgb(80, 178, 216);  
}

.icon i, .icon-header i{
    font-size: 22pt;
    color: rgb(15, 28, 145);
}

.icon-header i:hover{
    color: rgb(80, 178, 216);
}
i:hover {
    color: #FFF;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

ul li{
    list-style: none;
    color: rgb(15, 28, 145);
    font-weight: 500;
}

.list-group h5, .list-group-item h5, .modal-title{
    color: rgb(138, 37, 233);
}

p, li{
    font-size: 14pt;
    line-height: 1.5;
    font-family: Montserrat;
}

.container-projetc{
    justify-content: center;
    display: flex;
    gap: 1em;
}

.cont-box{
    background-color: rgb(89, 177, 165);
    color: #FFF;
    max-width: 300px;
    width: 300px;
    max-height: 50vh;
    padding: 10px;
    border-radius: 20px;
    border: solid 3px rgb(89, 177, 165);
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.icon-question{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: end;
}
.icon-question i {
    background-color: rgb(138, 37, 233);
    color: #FFF;
    padding: 10px;
    border-radius: 50%;
}

.cont-box:hover{
    background-color: transparent;
    color: #000;

}

.cont-box:hover p{
    color: rgb(138, 37, 233);

}

#btn-zap{
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

footer{
    background-color: rgb(80, 178, 216);
    color: #FFF;
    padding: 20px;
}

@media (max-width: 1100px) {
    .container-projetc {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem; 
    }

    .cont-box {
        width: 100%;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

@media (max-width: 700px) {
    .container{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .container .card {
        width: 100%;
    }
    body {
        margin: 0;
        padding: 0;
    }

    .card {
        width: 100% !important;
        margin: 0;
        padding: 0;
    }

    p, li{
        font-size: 12pt;
        line-height: 1.5;
    }

    .card-body{
        padding: 10px;
    }
    
    h1 {
        font-size: 14pt;
    }

    h5 {
        font-size: 13pt;
    }

    .container-projetc {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem; 
    }

    .cont-box {
        width: 100%;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    img {
        width: 100%;
        height: auto;
    }

    ul {
        width: 100%;
        gap: 10px;
    }

    ul li{
        background-color: rgb(80, 178, 216);
        color: #FFF;
        border-radius: 5px;
        padding: 5px;
    }
    .list-group {
        font-size: 0.9rem; 
    }

    .btn {
        width: 100%;
    }

    #btn-zap{
        margin-top: .5rem;
        width: 100%;
    }
}